<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.laba.persistence.patientDAO.IAppointmentDAO">

    <select id="getById">
        select * from appointments where id = #{appointmentId}
    </select>

    <select id="getAllAppointments">
        SELECT * FROM appointments
    </select>

    <insert id="insert" keyColumn="id" keyProperty="appointmentId" useGeneratedKeys="true">
        INSERT INTO appointments (appointment_details, patient_id) VALUES (#{appointmentDetails}, #{patientId})
    </insert>

    <update id="update">
        UPDATE appointments SET appointment_details = #{appointmentDetails}, patient_id = #{patientId} WHERE id = #{appointmentId}
    </update>

    <delete id="delete">
        DELETE FROM appointments WHERE id = #{appointmentId}
    </delete>

    <resultMap id="HospitalResultMap" type="com.solvd.laba.domain.patient.Appointment" autoMapping="false">
        <id column="id" property="appointmentId"/>
        <result column="appointment_details" property="appointmentDetails"/>
        <result column="patient_id" property="patientId"/>

    </resultMap>

</mapper>